---
import { getCollection } from 'astro:content';
import Container from '~/components/Container.astro';
import Navbar from '~/components/Navbar.astro';
import Head from '~/components/Head.astro';

import '~/styles/global.css';

const formatter = new Intl.DateTimeFormat('en-GB', {
    dateStyle: 'medium',
    timeStyle: 'medium'
});

const posts = await getCollection('blog').then((posts) =>
    posts.sort((a, b) => b.data.createdAt.valueOf() - a.data.createdAt.valueOf())
);
---

<!DOCTYPE html>
<html lang="en">
    <Head title="Blog" description="ðŸ“ Collection of my writing I post time from time" path="/blog" />
    <body class="relative max-lg:px-3 py-4">
        <Navbar />
        <Container>
            <div class="flex container flex-col mt-8 space-y-3">
                <h1 class="font-serif text-5xl">Blog Posts</h1>
                <h2 class="text-3xl mt-2">
                    Collection of all of my blog posts, they are probably not worth reading though.
                </h2>
                <hr />
            </div>

            <Container>
                <div class="grid grid-cols-1 lg:grid-cols-3 gap-3 items-center [&>*]:h-full">
                    {
                        posts.map((post) => (
                            <div class="py-4 px-3 rounded-md shadow-md bg-[#2B2C3B] space-y-3 space-x-2">
                                <div>
                                    <a
                                        href={`/blog/${post.slug}`}
                                        class="ml-2 font-serif text-2xl text-semibold hover:border-b-2 hover:border-slate-500"
                                    >
                                        {post.data.title}
                                    </a>
                                    <h5 class="ml-2 mt-1.5">{post.data.description}</h5>
                                    <span class="ml-2 mt-2">{formatter.format(new Date(post.data.createdAt))}</span>
                                </div>
                            </div>
                        ))
                    }
                </div>
            </Container>
        </Container>
    </body>
</html>
