@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Indie+Flower&family=Nunito&display=swap');

$background-colour: #262336;
$selection-colour: #D961A3;
$document-height: 95%;
$document-width: 99.75%;
$fixed-height: 85vh;

* {
  box-sizing: border-box;
}

::-moz-selection {
  background: $selection-colour;
  color: white;
}

::selection {
  background: $selection-colour;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-position: center;
  background-image: url(https://cdn.floofy.dev/images/rainy.jpg);
  background-color: #333333;
  background-size: cover;
}

.container {
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  align-items: center;
  padding-top: 2.35rem;
  display: flex;
  height: $fixed-height;
  color: white;
}

.container-content {
  text-align: center;
  gap: 0.75rem;
}

@media only screen and (min-width: 1024px) {
  .container-content {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    text-align: left;
    position: relative;
    display: grid;
  }
}

.container-right {
  justify-content: center;
}

@media only screen and (min-width: 1024px) {
  .container-right {
    grid-column: span 3 / span 3;
  }
}

.heading-1 {
  font-family: 'Nunito', sans-serif;
  font-size: 2.3rem;
}

.heading-2 {
  font-family: 'Delius Swash Caps', sans-serif;
}

.avatar {
  border-radius: 50%;
  display: block;
  margin: auto;
  border: 3px solid $selection-colour;
}

.footer {
  bottom: 0;
  left: 0;
}

.footer > p {
  padding-left: 2.33rem;
  font-family: 'Indie Flower', cursive;
  font-size: 2.5rem;
  color: white;
}

@media only screen and (max-width: 694px) {
  .footer > p {
    font-size: 1.3rem;
  }
}

.emoji {
  vertical-align: -0.125em;
  height: 35px;
  width: 35px;
}

@media only screen and (max-width: 694px) {
  .footer > .emoji {
    height: 12px;
    width: 12px;
  }
}
