@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nunito&family=Quicksand:wght@500&display=swap');

$background-colour: #262336;
$selection-colour: #D961A3;
$document-height: 95%;
$document-width: 99.75%;
$fixed-height: 85vh;

$colors: (
  "discord": #7289DA,
  "github": #333333,
  "twitter": #1DA1F2,
  "paypal": #00457C,
  "telegram": #0088CC,
  "steam": #000000,
  "lastfm": red
);

* {
  box-sizing: border-box;
}

::-moz-selection {
  background: $selection-colour;
  color: white;
}

::selection {
  background: $selection-colour;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-position: center;
  background-image: url(https://cdn.floofy.dev/moon.jpg);
  background-color: #232323;
  background-size: cover;
}

.container {
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  align-items: center;
  padding-top: 2.35rem;
  display: flex;
  height: $fixed-height;
  color: white;
}

.container-content {
  margin-bottom: 0.25rem;
  text-align: center;
  gap: 0.75rem;
}

@media only screen and (min-width: 1024px) {
  .container-content {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    text-align: left;
    position: relative;
    display: grid;
  }
}

.container-right {
  justify-content: center;
}

@media only screen and (min-width: 1024px) {
  .container-right {
    grid-column: span 3 / span 3;
    margin-left: 2.3rem;
  }
}

.heading-1 {
  font-family: 'Nunito', sans-serif;
  font-size: 2.3rem;

  img {
    margin-right: 0.75rem;
  }
}

@media only screen and (max-width: 1024px) {
  .heading-1 {
    font-size: 1.3rem;

    .emoji {
      margin-right: 0.25rem;
      height: 17px;
      width: 17px;
    }
  }
}

.heading-2 {
  font-family: 'Quicksand', sans-serif;
}

@media only screen and (max-width: 1024px) {
  .heading-2 {
    font-size: 1.2rem;
  }
}

.avatar {
  border-radius: 50%;
  display: block;
  margin: auto;
}

@media only screen and (max-width: 1024px) {
  .avatar {
    height: 175px;
    width: 175px;
  }
}

@each $key, $val in $colors {
  .button-#{$key} {
    background-color: $val;
    display: inline-block;
    border-radius: 0.75rem;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
    width: 4.7rem;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  @media only screen and (max-width: 1024px) {
    .button-#{$key} {
      margin-top: 0.25rem;
      padding: 0.35rem;
      width: 3.2rem;
    }
  }
}

.footer {
  bottom: 0;
  left: 0;

  p {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1.6rem;
    color: white;
  }
}

@media only screen and (max-width: 694px) {
  .footer {
    padding-bottom: 0.253rem;

    p {
      font-size: 1.3rem;
    }
  }
}

.emoji {
  vertical-align: -0.125em;
  height: 35px;
  width: 35px;
}

@media only screen and (max-width: 694px) {
  .footer > p > .emoji {
    height: 12px;
    width: 12px;
  }
}

.social-row {
  text-align: center;
  gap: 0.75rem;
}

@media only screen and (min-width: 1024px) {
  .social-row {
    grid-template-columns: repeat(7, minmax(0, 1fr));
    margin: -0.20rem;
    text-align: center;
    position: absolute;
    display: grid;
  }
}

a {
  color: white;
}

a:link {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}
