// Removes anything else
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// Height/Width stuff
html, body {
 height: 100%;
  width: 100%;
}

// Scrollbar
::-webkit-scrollbar {
  background-color: #212121;
  overflow: visible;
  height: 15px;
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, #A5B8F2, #FFD0D5);
  border-radius: 10px;
}

// Utility classes
.avatar {
  border-radius: 50%;
  display: block;
  margin: auto;
  height: 242px;
  border: 5px solid #ffffff;
  width: auto;
}
