@import './bulma';
@import './util';
@import './dom';

@import '../../../node_modules/bulma/bulma.sass';

$footer-background-color: #333333;

.card {
  background-color: #333333;
  color: white;
}

.container {
  padding-right: 50%;
  padding-top: 0;
  padding: 5%;
}

.white-text {
  color: white;
}

.white-text:hover {
  color: white;
}
