<!DOCTYPE html>
<html>
    <head>
        <title>August (Chris)</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/fontawesome.css" />
        <link rel="icon" href="images/furry.jpg" />
        <meta name="theme-color" content="#AC62A3" />
        <meta property="og:url" content="https://augu.dev" />
        <meta property="og:title" content="August (Chris)" />
        <meta property="og:image" content="https://augu.dev/images/furry.jpg" />
        <meta property="og:description" content="Fullstack developer based in the United States" />
    </head>
    <body>
        <div class="contents">
            <div class="about">
                <img src="images/furry.jpg" alt="Hi!" class="avatar" />
                <div class="me">
                    <h1 class="name">August (Chris)</h1>
                    <div class="description">Fullstack developer based in the United States</div>
                    <div class="description">and also a furry who likes watching anime</div>
                    <div class="description"><a href="https://github.com/Bowser65/bowser65.xyz">(credit for redesign)</a></div>
                </div>
            </div>
        </div>
    </body>
</html>