<!DOCTYPE html>
<html>
    <head>
        <title>August (Chris)</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/fontawesome.css" />
        <link rel="icon" href="images/furry.jpg" />
        <meta name="theme-color" content="#B266D4" />
        <meta property="og:url" content="https://augu.dev" />
        <meta property="og:title" content="August (Chris)" />
        <meta property="og:image" content="https://augu.dev/images/furry.jpg" />
        <meta property="og:description" content="Fullstack developer based in the United States" />
    </head>
    <body>
        <script src="./js/particles.min.js"></script>
        <script defer src="./js/main.js"></script>
        <div class="contents">
            <div class="about">
                <div id='particles'></div>
                <img src="https://is-going-to-rickroll.me/api/image/user/280158289667555328" onerror="this.src = './images/furry.jpg';" alt="Hi!" class="avatar" />
                <div class="me">
                    <h1 class="name">August (Chris)</h1>
                    <div class="description">Fullstack developer based in the United States</div>
                </div>
            </div>
        </div>
    </body>
</html>