---
import Head from '~/components/Head.astro';
import '~/styles/global.css';
---

<html lang="en">
    <Head path="/404" title="404 Not Found" />
    <body class="h-screen justify-center items-center flex flex-col gap-2 container mx-auto">
        <img
            alt="noel avatar"
            class="rounded-lg w-[256px] h-[256px]"
            draggable="false"
            src="https://cdn.floofy.dev/images/August.png"
        />

        <h1 class="text-5xl font-sans">Nothing but us!~</h1>
        <h2 class="text-3xl">Seems like you found a page that doesn't exist!</h2>
    </body>
</html>
