---
import ProjectCard from '../components/ProjectCard.astro';
import Container from '../components/Container.astro';
import { Icon } from 'astro-icon';
import Navbar from '../components/Navbar.astro';
import '../styles/global.css';

const githubRepos = await fetch('https://api.github.com/users/auguwu/repos')
  .then((res) => res.json())
  .then((data: any[]) =>
    data
      .sort((a, b) => b.stargazers_count - a.stargazers_count)
      .filter((s) => !s.archived)
      .filter((s) => s.name !== 'auguwu')
      .slice(0, 6)
  );
---

<html lang="en">
  <head>
    <title>Noel - pile of floof that exists</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="https://cdn.floofy.dev/images/August.png" />
    <meta
      property="og:description"
      content="a pile of floof that exists on the internet, and knows how to operate a computer!~ (´・ω・｀)"
    />

    <meta
      name="description"
      content="a pile of floof that exists on the internet, and knows how to operate a computer!~ (´・ω・｀)"
    />

    <meta name="theme-color" content="#896ae0" />
    <meta property="og:title" content="Noel 🌺" />
    <meta property="og:image" content="https://cdn.floofy.dev/images/August.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://floofy.dev" />
    <meta name="language" content="English" />
    <meta name="keywords" content="august, auguwu, noel, noelware" />
    <script defer data-domain="floofy.dev" data-api="/plausible/api/event" src="/plausible/js/script.js"></script>
  </head>

  <body class="flex flex-col space-y-12">
    <Navbar />
    <Container>
      <img
        src="https://cdn.floofy.dev/images/August.png"
        class="w-[154px] h-[154px] rounded-md shadow-sm"
        alt="noel avatar"
        draggable="false"
      />

      <h1 class="font-mono text-white text-4xl mt-3">Noel</h1>
      <h2 class="text-2xl text-white italic mt-4">a pile of floof that exists on the internet!</h2>

      <div class="grid grid-cols-4 gap-3 mt-5 lg:hidden">
        <a href="https://discord.com/users/280158289667555328" class="mr-3">
          <Icon name="fa-brands:discord" size={64} class="text-white bg-[#5865F2] py-1 px-1 rounded-lg" />
        </a>

        <a href="https://github.com/auguwu" class="mr-2">
          <Icon name="fa-brands:github" size={64} class="text-white bg-[#333333] py-1 px-1 rounded-lg" />
        </a>

        <a href="https://twitter.com/auguuwu" class="mr-2">
          <Icon name="fa-brands:twitter" size={64} class="text-white bg-[#1DA1F2] py-1 px-1 rounded-lg" />
        </a>

        <a href="https://wuff.space/@noel" class="mr-2">
          <Icon name="fa-brands:mastodon" size={64} class="text-white bg-[#563ACC] py-1 px-1 rounded-lg" />
        </a>
      </div>

      <div class="flex container mx-auto mt-6 items-center justify-center lg:hidden">
        <div class="grid grid-cols-1 gap-6 [&>*]:h-full">
          {githubRepos.map((data) => <ProjectCard data={data} />)}
        </div>
      </div>

      <div class="container mx-auto max-w-7xl space-y-6 max-md:hidden">
        <div class="grid grid-cols-3 gap-3 items-center [&>*]:h-full">
          {githubRepos.map((data) => <ProjectCard data={data} />)}
        </div>
      </div>
    </Container>
  </body>
</html>
