body {
    background:#333333 
    url("../images/uta.jpg");
    color:#ffffff;
    font-family:"Russo One", sans-serif
}

.content {
    width:auto;
    min-width:655px;
    max-width:630px;
    margin-top:60px;
    background:rgba(0, 0, 0, 0.5)
}

.logo{
    margin-top:5%;
    border-radius:10%;
    width:250px;
    height:250px;
}

hr{
    border-color:black
}

small {
    color:#c4c4c4;
    font-size:75%}.front_and_center{margin-top:30px;text-align:center;width:600px}.left{text-align:left}.right{text-align:right}.center{text-align:center}.sun{color:#f1c40f !important}.gray{color:#cacaca !important}.purple{color:#551a8b !important}.emerald{color:#2ecc71 !important}a:hover{color:#fff}a:active,a:link,a:visited{color:#F87920}.btn{color:#333 !important;border:0.5px solid #000;cursor:pointer;padding:7px 20px;min-width:110px;background:#EEEEEE;transition:0s background, 0s color;font-size:16px;font-family:"Roboto", sans-serif;font-weight:600;text-align:center;text-transform:uppercase;text-decoration:none}.btn:hover{background:#888}.footer{background-color:rgba(0, 0, 0, 0.5);border-radius:5%;margin-bottom:10px;width:100%}.projects{margin-left:5%}.icon_set a{color:#eee}.icon_set i{margin:0 5px}.icon_set i:hover{color:#888}.code-icons i{cursor:pointer;font-size:34px;margin-right:4px}.unselectable{user-select:none;-ms-user-select:none;-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-webkit-touch-callout:none}