// Removes anything else
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// Height/Width stuff
html, body {
  height: 100%;
  width: 100%;
}

// Selectors
::-moz-selection {
  background: #D961A3;
  color: #EEEEEE;
}

::selection {
  background: #D961A3;
  color: #EEEEEE;
}
