---
import Image from 'astro/components/Image.astro';
import { Icon } from 'astro-icon/components';

const ICON = 'https://cdn.floofy.dev/images/August.png';
---

<nav class="relative">
    <header
        class="flex items-center justify-center max-lg:flex-col lg:justify-between bg-[#2B2C3B] py-3 px-1.5 lg:pl-2 lg:shadow-md lg:max-w-screen-xl lg:mx-auto lg:mt-1.5 rounded-lg"
    >
        <div class="flex flex-row align-middle gap-2">
            <div class="flex flex-row gap-3">
                <Image alt="Noel's avatar" class="rounded-lg" draggable={false} height={36} src={ICON} width={56} />
                <span class="font-mono text-xl my-auto">Noel 🌺</span>
            </div>

            <a
                class="my-auto font-mono text-white text-xl hover:bg-[#35353A] hover:shadow-md py-2 px-2 rounded-lg"
                href="/"
            >
                Home
            </a>

            <span class="my-auto">&bull;</span>
            <a
                class="my-auto font-mono text-white text-xl hover:bg-[#35353A] hover:shadow-md py-2 px-2 rounded-lg"
                href="/blog"
            >
                Blog
            </a>
        </div>
        <div class="flex lg:hidden flex-row align-middle gap-2 mt-2.5">
            <a class="mr-3" href="https://discord.com/users/280158289667555328" id="icon" title="Discord">
                <Icon class="text-white bg-[#5865F2] py-1 px-1 rounded-lg" name="fa-brands:discord" size={32} />
            </a>

            <a class="mr-2" href="https://github.com/auguwu" id="icon" title="GitHub">
                <Icon class="text-white bg-[#333333] py-1 px-1 rounded-lg" name="fa-brands:github" size={32} />
            </a>

            <a class="mr-2" href="https://twitter.com/auguuwu" id="icon" title="Twitter">
                <Icon class="text-white bg-[#1DA1F2] py-1 px-1 rounded-lg" name="fa-brands:twitter" size={32} />
            </a>

            <a class="mr-2" href="https://wuff.space/@noel" id="icon" rel="me" title="Mastodon">
                <Icon class="text-white bg-[#563ACC] py-1 px-1 rounded-lg" name="fa-brands:mastodon" size={32} />
            </a>

            <a class="mr-2" href="https://last.fm/auguwu" id="icon" title="last.fm">
                <Icon class="text-white bg-[#D51007] py-1 px-1 rounded-lg" name="fa-brands:lastfm" size={32} />
            </a>
        </div>

        <div class="lg:flex hidden lg:flex-row lg:align-middle lg:gap-2">
            <a class="mr-3" href="https://discord.com/users/280158289667555328" id="icon">
                <Icon class="text-white bg-[#5865F2] py-1 px-1 rounded-lg" name="fa-brands:discord" size={48} />
            </a>

            <a class="mr-2" href="https://github.com/auguwu" id="icon">
                <Icon class="text-white bg-[#333333] py-1 px-1 rounded-lg" name="fa-brands:github" size={48} />
            </a>

            <a class="mr-2" href="https://twitter.com/auguuwu" id="icon">
                <Icon class="text-white bg-[#1DA1F2] py-1 px-1 rounded-lg" name="fa-brands:twitter" size={48} />
            </a>

            <a class="mr-2" href="https://last.fm/auguwu" id="icon">
                <Icon class="text-white bg-[#D51007] py-1 px-1 rounded-lg" name="fa-brands:lastfm" size={48} />
            </a>
        </div>
    </header>
</nav>
