---
import { Icon } from 'astro-icon';
---

<nav class="relative">
    <header
        class="flex container mx-auto items-center justify-center bg-[#2B2C3B] py-3 rounded-md max-w-screen-lg lg:max-w-7xl lg:mt-2 lg:pl-2 lg:shadow-md lg:justify-between"
    >
        <div class="hidden lg:flex lg:flex-row lg:align-middle lg:gap-3">
            <a
                href="/"
                class="mr-2 font-mono text-white text-xl hover:bg-[#35353A] hover:shadow-md py-2 px-2 rounded-lg"
                >homepage</a
            >
            <a
                href="/blog"
                class="mr-2 font-mono text-white text-xl hover:bg-[#35353A] hover:shadow-md py-2 px-2 rounded-lg"
                >blog</a
            >
        </div>
        <div class="flex mx-auto lg:hidden">
            <a
                href="/"
                class="mr-2 font-mono text-white text-xl hover:bg-[#35353A] hover:shadow-md py-2 px-2 rounded-lg"
                >homepage</a
            >
            <a
                href="/blog"
                class="mr-2 font-mono text-white text-xl hover:bg-[#35353A] hover:shadow-md py-2 px-2 rounded-lg"
                >blog</a
            >
        </div>
        <div class="hidden lg:block">
            <div class="flex flex-row align-middle gap-2">
                <a href="https://discord.com/users/280158289667555328" class="mr-3">
                    <Icon name="fa-brands:discord" size="48" class="text-white bg-[#5865F2] py-1 px-1 rounded-lg" />
                </a>

                <a href="https://github.com/auguwu" class="mr-2">
                    <Icon name="fa-brands:github" size="48" class="text-white bg-[#333333] py-1 px-1 rounded-lg" />
                </a>

                <a href="https://twitter.com/auguuwu" class="mr-2">
                    <Icon name="fa-brands:twitter" size="48" class="text-white bg-[#1DA1F2] py-1 px-1 rounded-lg" />
                </a>

                <a href="https://wuff.space/@noel" class="mr-2">
                    <Icon name="fa-brands:mastodon" size="48" class="text-white bg-[#563ACC] py-1 px-1 rounded-lg" />
                </a>
            </div>
        </div>
    </header>
</nav>
