@import "../../../../node_modules/bulma/sass/utilities/_all.sass";

//* Color Schemes
$discord: #7289DA;
$github: #333;
$patreon: #F96854;
$twitter: #1DA1F2;
$steam: #171A21;
$main: #B266D4;
$kitsu: #FD8320;
$osu: #FF66AA;
$primary: $main;

$primary-invert: findColorInvert($primary);
$discord-invert: findColorInvert($discord);
$github-invert: findColorInvert($github);
$patreon-invert: findColorInvert($patreon);
$twitter-invert: findColorInvert($twitter);
$steam-invert: findColorInvert($steam);
$kitsu-invert: findColorInvert($kitsu);
$osu-invert: findColorInvert($osu);

$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "discord": ($discord, $discord-invert),
    "github": ($github, $github-invert),
    "patreon": ($patreon, $patreon-invert),
    "twitter": ($twitter, $twitter-invert),
    "steam": ($steam, $steam-invert),
    "kitsu": ($kitsu, $kitsu-invert),
    "osu": ($osu, $osu-invert)
);

$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;