//* Color Schemes (Business & Main)
$discord: #7289DA;
$github: #333;
$patreon: #F96854;
$twitter: #1DA1F2;
$steam: #171A21;

//* Programming Languages
$node: #80BD01;
$html: #E34C26;
$css: #563D7C;
$scss: #C69;