@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//* Credit: https://github.com/Bowser65/bowser65.xyz/blob/master/src/scss/_globals.scss
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    background-color: #303030;
}

body:before {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background-color: #303030;
}

.contents {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}