//* credit: 
.links {
    display: flex;
    margin-top: 35px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 15px;

    .link {
        transition: .3s;
        display: flex;
        height: 42px;
        align-items: center;
        padding: 10px 15px;
        margin: 10px;
        width: 125px;
        color: #fff;
        text-decoration: none;
    }
}