@import url("https://fonts.googleapis.com/css?family=Asap&display=swap");
@import "./colors";

.avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

// credit: https://github.com/kibo92/rock-paper-scissors/blob/master/style.css#L35-L41
.badge {
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: 'Asap', sans-serif;

    .node {
        background-color: $node;
    }

    .html {
        background-color: $html;
    }

    .css {
        background-color: $css;
    }

    .scss {
        background-color: $scss;
    }
}

// credit: https://github.com/Bowser65/bowser65.xyz/blob/master/src/scss/_me.scss
.about {
    display: flex;
    align-items: center;
    justify-content: center;

    .avatar {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    .me {
        margin-left: 25px;
        letter-spacing: 1px;

        .name {
            font-weight: 300;
            font-size: 3rem;
            margin: 0 0 10px;
            filter: drop-shadow(6px 6px 0 rgba(0, 0, 0, 0.4));
        }

        .description {
            font-size: 1.5rem;
            filter: drop-shadow(3px 3px 0 rgba(0, 0, 0, 0.4));
        }
    }
}