@import url("https://fonts.googleapis.com/css?family=Asap&display=swap");
@import "./colors";

.avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

#particles {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0.48;
}

// credit: https://github.com/Bowser65/bowser65.xyz/blob/master/src/scss/_me.scss
.about {
    display: flex;
    align-items: center;
    justify-content: center;

    .avatar {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    .me {
        margin-left: 25px;
        letter-spacing: 1px;

        .name {
            font-weight: 300;
            font-size: 3rem;
            margin: 0 0 10px;
            filter: drop-shadow(6px 6px 0 rgba(0, 0, 0, 0.4));
        }

        .description {
            font-size: 1.5rem;
            filter: drop-shadow(3px 3px 0 rgba(0, 0, 0, 0.4));
        }
    }
}

@media screen and (min-width: 615px) {
    .me .about .desc {
        display: block;
    }
}
  
@media screen and (min-width: 960px){
    .me {
        flex-direction: row;
  
        .about {
            margin-left: 25px;
            text-align: left;
        }
    }
}