@import './fontawesome.min.css';
@import './fonts/asap.css';
@import './fonts/muli.css';
@import './bulma.min.css';

/* Main CSS for all of the HTML */
html, body {
	background-color: #111;
  height: 100%;
  width: 100%;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Miscellaneous stuff like images */
.avatar {
	border-radius: 50%;
	height: 250px;
	border: 5px solid #8763B9;
	width: 250px;
}

.is-dark {
	background-color: #111;
}

h1.title,
p.subtitle {
	font-family: Asap, sans-serif;
	color: white;
}

/* Colors */
.github {
	background-color: #333;
	color: white;
}

.discord {
	background-color: #7289DA;
	color: white;
}

.plain {
	background-color: #8763B9;
	color: white;
}

.twitter {
  background-color: #1DA1F2;
  color: white;
}

.reddit {
  background-color: #FF4500;
  color: white;
}

.spotify {
  background-color: #1DB954;
  color: #111;
}

.steam {
  background-color: #000;
  color: white;
}

.twitch {
  background-color: #6441A4;
  color: white;
}

.github:hover,
.discord:hover,
.plain:hover,
.twitter:hover,
.reddit:hover,
.steam:hover,
.twitch:hover {
	color: white;
}

.spotify:hover {
  color: #111;
}