@import './fontawesome.min.css';
@import './fonts/asap.css';
@import './fonts/muli.css';
@import './bulma.min.css';

/* Main CSS for all of the HTML */
html, body {
  height: 100%;
  width: 100%;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Miscellaneous stuff like images */
.avatar {
  border-radius: 50%;
  display: block;
  margin: auto;
  height: 242px;
  border: 5px solid #E597CE;
  width: 242px;
}

.is-dark {
	background-color: #111;
}

.is-light-dark {
  background-color: #333;
}

.is-white {
  color: white;
}

h1.title,
p.subtitle {
	font-family: Asap, sans-serif;
	color: white;
}

/* Colors */
.github {
	background-color: #333;
	color: white;
}

.discord {
	background-color: #7289DA;
	color: white;
}

.plain {
	background-color: #8763B9;
	color: white;
}

.twitter {
  background-color: #1DA1F2;
  color: white;
}

.reddit {
  background-color: #FF4500;
  color: white;
}

.spotify {
  background-color: #1DB954;
  color: #111;
}

.steam {
  background-color: #000;
  color: white;
}

.twitch {
  background-color: #6441A4;
  color: white;
}

.tele {
  background-color: #0088CC;
  color: white;
}

.lastfm {
  background-color: red;
  color: white;
}

.github:hover,
.discord:hover,
.plain:hover,
.twitter:hover,
.reddit:hover,
.steam:hover,
.twitch:hover,
.tele:hover,
.lastfm:hover {
	color: white;
}

.spotify:hover {
  color: #111;
}

.card {
  background-color: #333;
  color: white;
}

.hoverable {
  text-decoration: none;
  padding-left: 5px;
  color: #777;
}

.hoverable:hover {
  color: #999;
}

.round {
  border-radius: 50%;
}

.subtitle-c {
  padding-bottom: 15px;
  padding-top: 0;
  font-family: 'Muli', sans-serif;
  font-size: 25px;
  color: white;
}

.title {
  font-family: 'Asap', sans-serif;
  color: white;
}

.artist-creds {
  padding-bottom: 0px;
  padding-top: 13px;
  color: #B4AA7F;
}

.sponsor-title {
  color: white;
}

.sponsor-title:hover {
  color: white;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

body::before {
  background-attachment: fixed;
  background-image: url(../images/background.jpg);
  background-size: cover;
  position: fixed;
  content: '';
  z-index: 0;
  filter: blur(3px) brightness(50%);
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.container {
  padding-top: 0;
  padding: 5%;
}